.message {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.4);
  box-shadow: 0px 0px 5px 0px rgba(51,51,51,0.4);
  z-index: 999999999!important;
}
.message.active {
  background-color: #567b74;
}
