.email-popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100000;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.email-popup-body {
  width: 30%;
  min-width: 360px;
  max-width: 480px;
  min-height: 200px;
  max-height: 220px;
  height: 25%;
  background: #fff;
  border-radius: 2px;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(120,120,120,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(120,120,120,1);
  box-shadow: 0px 0px 5px 0px rgba(120,120,120,1);
  padding: 20px;
  font-family: 'AauxBold';

}
.email-popup-body>div {
  width: 90%;
  height: 90%;
  color: #a0a0a0;
  margin: 0 auto;
}
.email-popup-title {
  font-size: 24px;
}
.email-popup-input>input {
  border-radius: 4px;
  border: 1px solid #a0a0a0;
  font-size: 16px;
  width: 100%;
  padding: 5px 10px;
  margin-top: 20px;
}
.email-popup-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.email-popup-cancel {
  border-radius: 4px;
  border: 1px solid #9eb8b2;
  color: #9eb8b2;
  background: transparent;
  padding: 5px 20px;
  width: 30%;
  text-align: center;
  cursor: pointer;
}
.email-popup-copy {
  border-radius: 4px;
  border: 1px solid #9eb8b2;
  color: #fff;
  background: #9eb8b2;
  padding: 5px 20px;
  width: 45%;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 400px) {
  .email-popup-body {
    min-width: 95%;
    padding: 10px;
  }
  /* .direct-download-message {
    margin-top: 30px;
  }
  .direct-download-buttons {
    width: 100%;
  }
  .direct-download-buttons div {
    font-size: 12px;
  } */
}
