@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.collections-slider-animation {
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    /*overflow: hidden; */
    z-index: 2000;
    position: relative;
    background: #fff;
    /*-webkit-box-shadow: 0px 1px 6.72px 0.28px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 6.72px 0.28px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 6.72px 0.28px rgba(0, 0, 0, 0.1);*/
}
.slick-track {
  margin: 0;
}
.animated .slick-track {
  transition: none!important;
}
.collections-slide {
  position: relative;
}
.header-slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.collections-slider-background {
    z-index: 2000;
    position: relative;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}
.collections-slider-animation .slick-track {
  transition: all .2s ease-out;
}
.categories__backLayout {
    position: fixed;
    width:100%;
    height:100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    margin-top: 125px;
}
.closed .categories__backLayout {
    opacity: 0;
}
.open .categories__backLayout {
    opacity: 1;
}
.closed {
    height: 0;
    overflow: hidden;
}
.open {
    height: 380px;
}
.slide {
    height: 300px;
}
.slick-slider {
    transition: all .35s ease-out;
}
.open .slick-slider {
    margin-top: 0
}
.closed .slick-slider {
    margin-top: -300px;
}
.slider-arrow {
    z-index: 1000;
}
.slider-arrow img {
    width: 40px;
}
.slick-prev {
    left: 20px!important;
}
.slick-next {
   right: 40px!important;
}
.slick-prev:before {
    display: none;
}
.slick-next:before {
    display: none;
}
.slide-title {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Myriad Pro';
    letter-spacing: 2px;
    font-size: 19px;
    text-align: center;
    padding-top: 50px;
}
.slick-slide {
    border: none;
    cursor: pointer;
}
.slide-amount {
    text-align: center;
    padding-top: 120px;
    font-family: 'Myriad Pro';
}
.slide-amount>div {
    color: #fff;
    padding-top: 5px;
}
.slide-amount img {
    display: inline-block;
    width: 35px;
    margin-bottom: 5px;
}
.collections-slider-animation .view-all-btn-container {
    position: relative;
    z-index: 5000;
}
.view-all-btn-container a {
    text-decoration: none!important;
}
.view-all-btn {
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    background: #9eb7b2;
    color: #fff;
    font-family: "AauxBold";
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.slick-track {
    background: #ecf0ef;
}
.no-slide-placeholder {
    height: 300px;
    text-align: center;
    background: #ecf0ef;
    font-family: 'AauxBold';
    color: #7a9690;
    font-size: 20px;
    padding-top: 10px;
}
* {
  min-height: 0;
  min-width: 0;
}
/*.slider-hidden {
  opacity: 0;
}
.slider-visible {
  opacity: 1;
}*/

@media screen and (max-width: 1300px) {
    .slide-title {
        font-size: 17px;
    }
    .slick-prev {
        left: 0px!important;
    }
    .slick-next {
        right: 20px!important;
    }
}

@media screen and (max-width: 767px) {
    .collections-slider-animation {
        display: none;
    }

}
