.image-preloader-content {
  min-height: 100px;
  padding-top: 10px;
  background: #d7e2e0;
  padding-left: 10px;
  color: #718c86;
  font-family: 'AauxBold';
  font-size: 12px;
  position: relative;
}
.image-preloader-text {
  text-align: left;
}

@media (max-width: 767px) {
  .image-preloader-content {
    max-width: 400px;
    margin: 0 auto; 
  }
}
