.categories__innerWrapper {
    max-width: 1350px;
    padding: 25px;
    background-color: white;
    margin: 0 auto;
    z-index: 5000;
    position: relative;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 50px;
}
.categories-wrapper{
    position: absolute;
    z-index: 2000;
    width: 100%;
}
.categories-closed .categories__innerWrapper {
    margin-top: -560px; 
    overflow: hidden;
}
.categories-open .categories__innerWrapper {
    margin-top: 0px;
    height: unset;
}
.filter-aligner {
    width: 200px;
    font-family: "AauxBold";
    padding-bottom: 20px;
}
.filter-aligner span {
    padding-right: 20px;
    padding-left: 10px;
    color: #a0a0a0;
    cursor: pointer;
    letter-spacing: 2px;
}
.filter-aligner .active {
    color: #9eb7b2;
}

@media screen and (max-width: 1400px) {
    .categories__innerWrapper {
        max-width: 1200px;
    }
}
@media (min-width:768px) and (max-width:992px) {
    .categories__backLayout{
        margin-top: 100px;
    }
}
