.category__innerWrapper{
    width: 320px;
    height: 200px;
    margin: 0 auto;
    padding: 15px;
}
.category__innerWrapper .category__linkWrapper{
    width:100%;
    height:100%;
    display:block; 
    cursor: pointer; 
}
.category__innerWrapper .category__linkWrapper .category__featuredImg{
    width:100%;
    height:100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.category__title {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    padding: 7px; 
    font-size: 16px; 
    text-transform: uppercase; 
    background: rgba(255, 255, 255, 0.8); 
    font-family: 'Myriad Pro'; 
    color: #6e6e6e!important; 
    letter-spacing: 2px; 
}
.categories-wrapper .view-all-btn-container {
    z-index: 2000;
    position: relative;
}

@media screen and (max-width: 1200px) {
    .category__innerWrapper{
        width: 250px;
        height: 170px;
    }
}