.ToggleView-wrapper .toogleview {
    width: 200px;
    height: 27px;
    border: 2px solid #9eb7b2;
    border-radius: 10px;
    background-color: white;
    margin: 26px auto;
}
.ToggleView-wrapper .toogleview .toogleview__item {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    line-height: 23px;
    font-family: "AauxBold";
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #9eb7b2;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
}
.ToggleView-wrapper .toogleview .toogleview__item.selected {
    color: white;
    background-color: #9eb7b2;
}
@media (max-width:767px) {
    .ToggleView-wrapper {
        display: none;
    }
}