.home-wrapper {
    overflow: hidden;
}
.home-wrapper .sidebar-offset {
    padding-left: 250px;
}

.preloader-wrapper {
    opacity: 0
}
.not-ready .preloader-wrapper {
    /* position: absolute; */
    text-align: center;
    padding: 20px;
    background: transparent;
    opacity: 1;
    z-index: -1;
    width: 100%;
}
.home-gallery .not-ready .preloader-wrapper {
    width: 100%;
    /* position: absolute; */
    margin-left: -250px;
    /* background: red; */
    text-align: center;
    padding: 20px;
    padding-left: 270px;
    background: transparent; 
    opacity: 1;
    z-index: -1;
}


@media (min-width:1201px) and (max-width:1350px) {
    .home-wrapper .sidebar-offset {
        padding-left: 215px;
    }
    .home-gallery .not-ready .preloader-wrapper {
        width: 100%;
        margin-left: -215px;
        padding-left: 235px;
    }
}
@media (min-width:768px) and (max-width:1200px) {
    .home-wrapper .sidebar-offset {
        padding-left: 185px;
    }
    .home-gallery .not-ready .preloader-wrapper {
        width: 100%;
        margin-left: -185px;
        padding-left: 205px;
    }
}
/*@media (min-width:768px) and (max-width:992px) {
    .home-wrapper .sidebar-offset {
        padding-left: 160px;
    }
}*/
@media (max-width:767px) {
    .home-wrapper .sidebar-offset {
        padding-left: 15px;
    }
    .home-gallery .not-ready .preloader-wrapper {
      margin-left: 0;
      padding-left: 15px;
      width: 100%;
    }
}
