.checkbox-group {
    padding-left: 30px;
    line-height: 1;
    margin-bottom: 13px;
}
.checkbox-group:last-of-type {
    margin-bottom: 0px;
}
.checkbox-group input {
    display: none;
}
.checkbox-group label {
    line-height: 1;
    margin: 0px;
    font-family: "AauxBold";
    font-weight: 200;
    font-size: 15px;
    color: #a0a0a0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-left: 27px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
}
.checkbox-group label:after {
    content: "\f096";
    /*unchecked state*/
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 0px;
    top: 0px;
}
.checkbox-group label:before {
    content: "\f14a";
    /*unchecked state*/
    font-family: FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    color: #9eb7b2;
    left: 0px;
    top: 0px;
    display: none;
}
.checkbox-group input:checked+label {
    color: #9eb7b2;
}
.checkbox-group input:checked+label:after {
    display: none;
}
.checkbox-group input:checked+label:before {
    display: block;
}
@media (min-width:1201px) and (max-width:1350px) {
    .checkbox-group {
        padding-left: 25px;
        margin-bottom: 10px;
    }
    .checkbox-group label {
        font-size: 13px;
        padding-left: 23px;
    }
}
@media (min-width:768px) and (max-width:1200px) {
        .checkbox-group {
        padding-left: 20px;
        margin-bottom: 9px;
    }
    .checkbox-group label {
        font-size: 12px;
        padding-left: 19px;
    }
}
/*@media (min-width:768px) and (max-width:992px) {
        .checkbox-group {
        padding-left: 18px;
        margin-bottom: 4px;
    }
    .checkbox-group label {
        font-size: 10px;
        padding-left: 18px;
    }
}*/
@media (max-width:767px) {}
