.sorting-wrapper {
    width: 215px;
    position: fixed;
    left: 0;
    z-index: 1000;
    transition: all .2s ease-out;
}
.sorting__form {
    border-radius: 0 6px 6px 0;
    box-shadow: 0px 1px 6.72px 0.28px rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    padding: 42px 0;
}
.sorting-wrapper .mobile {
    display: none
}
@media (min-width:1201px) and (max-width:1350px) {
    .sorting-wrapper {
        width: 185px;
    }
    .sorting__form {
        padding: 30px 0;
    }
}
@media (min-width:768px) and (max-width:1200px) {
    .sorting-wrapper {
        width: 150px;
    }
    .sorting__form {
        padding: 20px 0;
    }
}
/*@media (min-width:768px) and (max-width:992px) {
    .sorting-wrapper {
        width: 125px;
    }
    .sorting__form {
        padding: 20px 0;
    }
}*/
@media (max-width:767px) {
    .sorting__form {
        position: absolute;
        top: 0px;
        left: -220px;
        width: 215px;
        z-index: 1000;
        transition: left 0.3s ease-in-out;
        overflow: hidden;
    }
    .sorting-wrapper.opened .sorting__form{left:0;}
    .sorting-wrapper {
        position: fixed;
        z-index: 999;
        height: 245px;
        width:auto;
    }
    .sorting-wrapper .mobile {
        display: block
    }
    .clickLabel {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 41px;
        height: 95px;
        cursor: pointer;
        border-radius: 0 6px 6px 0;
        box-shadow: 0px 1px 6.72px 0.28px rgba(0, 0, 0, 0.1);
        background-color: rgb(255, 255, 255);
        padding-left: 10px;
        z-index: 999;
        border: 0;
    }
    .clickLabel:hover,
    .clickLabel:focus,
    .clickLabel:active {
        outline: none;
        border:0;
    }
    .clickLabel p {
        font-family: 'AauxBold';
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.11em;
        color: #9eb7b2;
        text-transform: uppercase;
        line-height: 1;
        margin: 0px;
        transform: rotateZ(90deg) translate(-50%, -50%);
        -webkit-transform-origin: 50%;
        -ms-transform-origin: 50%;
        transform-origin: 0% 0%;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
