.product-page-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* background: #fff; */
  background: rgba(86, 86, 86, 0.51);
  width: 100%;
  height: 100%;
  padding-top: 125px;
  color: #a0a0a0;
  z-index: 1000;
  font-family: 'AauxRegular'
}
.product-page-item-id-wrapper {
  position: absolute;
  right: 0;
  margin-top: -10px;
}
.product-page-item-id {
  font-size: 9pt;
}
.product-scroller {
  overflow: auto;
}

.product-share-item {
  margin-top: 20px;
}
.product-scroller footer {
  padding-bottom: 125px;
  bottom: 0;
}
.product-market-freeze a {
  color:  #9e9e9e!important;
  text-decoration: underline;
}
.product-market-freeze.trial-end {
  text-align: center;
}
.product-description {
  background: whitesmoke;
  margin: 15px auto;
  padding: 50px 50px 25px 50px;
  overflow: hidden;
  position: relative;
  min-height: 600px;
  max-width: 1400px;
}
.product-slider-loading {
  color: #a0a0a0;
  font-size: 16px;
  font-family: 'AauxRegular'
}
.product-options .disable-buttons > div {
  color: #bbbbbb;
}
.product-options .disable-buttons > label {
  border-color: #bbbbbb;
}
.full-width-grid-item img.err {
  min-height: 120px;
  background: #dbdedd;
  width: 100%!important;
  text-align: left;
}
/* .product-collections-slider-wrapper {
  height: 400px;
} */
.product-page-wrapper .dashboard-slide,
.product-page-wrapper .slick-track {
  background: transparent;
}
.product-collections-slider {
  max-width: 80%;
  margin: 15px auto;
}
.product-description-session-slider {
  position: relative;
  margin: 0 -60px;
}
.product-description-session-slider .slider-arrow-outer {
  position: absolute;
  z-index: 100;
  margin: 0;
}
.product-description-session-slider .slider-arrow-outer img,
.product-collections-slider .slider-arrow-outer img {
  width: 40px;
  z-index: 100;
  margin-top: -9px;
}

.product-description-session-slider .dashboard-slider-wrapper,
.product-collections-slider .dashboard-slider-wrapper {
  padding: 0;
}
.full-width-grid-item {
  width: auto!important;
  float: none;
  height: 100%;
  text-align: center;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* height: 465px; */
}
.full-width-grid-item img {
  width: auto;
  display: inline-block;
  max-height: 475px;
  max-width: 450px;
}
.product-aligner {
  position: relative;
  display: inline-block;
}
/*
.product-image-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
} */

.product-collections-slider-wrapper {
  background: whitesmoke;
  padding: 0 0 25px 0;
  margin-top: 50px;
  position: relative;
}
.product-collections-slider {
  margin: 0 10% 0px 10%;
  overflow: hidden;
}
.product-collections-title {
  font-size: 24px;
  letter-spacing: 3px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 600;
  text-align: center;
}
.product-share-title {
  color: #9eb8b2;
  margin-right: 10px;
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  font-family: 'AauxBold';
}
a.pin {
  border: 1px solid #9eb8b2;
  border-radius: 50%;
  background-image: url('/images/pin-green.png')!important;
  background-position: center!important;
  height: 24px!important;
  width: 24px!important;
  margin: 0 3px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 0;
}
.product-share-widget {
  border: 1px solid #9eb8b2;
  border-radius: 50%;
  line-height: 22px;
  vertical-align: middle;
  height: 24px!important;
  width: 24px!important;
  text-align: center;
  margin: 0 3px;
  cursor: pointer;
}
.product-share-widget i {
  color: #9eb8b2;
  line-height: 22px;
}
.product-share-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.product-share-widgets {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.product-description-session-slider-wrapper {
  margin-top: 30px;
}
.product-description-session-title {
  margin-bottom: 20px;
  border-bottom: 1px solid #9eb8b2;
  padding-bottom: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'AauxBold';
}
.item-title-heading {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}
.item-title-subheading {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 600;
}

.product-options-check-round {
  border-bottom: 1px solid #9eb8b2;
}
/* .product-options {
  padding-right: 60px;
} */
.product-option {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}
.check-description-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-size: 18px;
  letter-spacing: 1px;
}
.check-description-left div:nth-child(2) {
  font-size: 15px;
}
.check-description-underlined {
  text-decoration: underline;
  cursor: pointer;
}
.product-options-check-round input,
.product-options-check-square input {
  display: none;
}
.product-options-check-round .check-wrapper {
  width: 15px;
  height: 15px;
  background: #dbdcdc;
  border: 2px solid #9e9e9e;
  border-radius: 50%;
  margin-top: 4px;
  margin-right: 10px;
  cursor: pointer;
}
.product-options-check-round input:checked + .check-wrapper {
  background: #9e9e9e;
}

.product-options-check-square .check-wrapper {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  margin-top: 4px;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid #9e9e9e;
}
.product-options-check-square input:checked + .check-wrapper .check-image {
  background-image: url('/images/check-gray.png');
  width: 18px;
  height: 13px;
  background-size: contain;
  background-position: 1px -1px;
  margin-top: -2px;
  background-repeat: no-repeat;
}
.additional-product-options {
  font-size: 20px;
  color: #9eb8b2;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 15px;
  width: 100%;
  font-family: 'AauxBold';
  text-align: center;
}
.product-add-to-caqrt {
  margin-top: 30px;
}
.product-add-to-cart-subheading {
  text-align: center;
  font-size: 16px;
  font-family: 'AauxBold';
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.product-add-to-cart-btn {
  max-width: 320px;
  margin: 0 auto;
  border-radius: 6px;
  background: #9eb8b2;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-family: 'AauxBold';
  font-size: 18px;
  cursor: pointer;
}

.product-add-to-cart {
  margin: 20px 0;
}
.product-add-to-cart.disable p.product-market-freeze {
  margin: 16px 0 0;
  font-size: 15px;
  max-width: 320px;
  margin: 0 auto;
}
.product-add-to-cart p.product-market-freeze {
  margin: 16px 0 0;
  font-size: 15px;
  max-width: 320px;
  margin: 0 auto;
}
.product-add-to-cart.disable .product-add-to-cart-btn{
  cursor: not-allowed;  opacity: 0.4;
}
.close-product {
  position: absolute;
  top: 0;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  cursor: pointer;
  right: 10px;
  top: 10px;
  background-image: url('/images/gray-cross.png')
}
.product-description .close-product {
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
}
.product-aligner-sm {
  width: 80%;
}
.product-aligner-sm img {
  max-height: unset;
  max-width: unset;
  width: 100%;
  image-rendering: optimizeQuality;
}
.hidden-md .product-share-item {
  margin-bottom: 50px;
}
.hidden-md .full-width-grid-item {
  height: unset;
}
.additional-options-note {
  color: #a0a0a0;
  font-size: 12px;
  text-align: center;
}
@media (max-width: 1700px) {
  .full-width-grid-item img {
    max-width: 450px;
  }

}
@media (max-width: 1400px) {
  .full-width-grid-item img {
    max-width: 450px;
  }
}
@media (max-width: 1200px) {

  .item-title-heading {
    font-size: 20px;
  }
  .item-title-subheading {
    font-size: 16px;
  }
  .check-description-wrapper {
    font-size: 16px;
  }

  .full-width-grid-item img {
    max-width: 400px;
  }
}
@media (max-width: 991px) {
  .product-page-wrapper {
    padding-top: 100px;
  }
  .product-scroller footer {
    padding-bottom: 100px;
  }
  .product-add-to-cart {
    margin: 20px 0;
  }
  .item-title-heading {
    font-size: 20px;
  }
  .item-title-subheading {
    font-size: 16px;
  }
  .check-description-wrapper {
    font-size: 16px;
  }
  .full-width-grid-item img {
    max-width: unset;
  }
  .product-description {
    max-width: 95%;
  }

  .product-collections-slider {
    max-width: 95%;
    margin: 0 auto;
  }
  .product-options {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .product-page-wrapper {
    padding-top: 70px;
  }
  .full-width-grid-item {
    height: unset;
  }
  .product-collections-slider-wrapper {
    padding: 0 0 25px 0;
  }

  .product-description-session-slider {
    margin: 0;
  }
  .product-description {
    padding: 15px;
  }

  .item-title-heading {
    font-size: 18px;
  }
  .item-title-subheading {
    font-size: 14px;
  }

  .check-description-wrapper {
    font-size: 14px;
  }

  .product-description {
    max-width: 100%;
  }

  .product-collections-slider {
    max-width: 100%;
  }

  .product-collections-slider-wrapper {
    padding: 15px;
  }

  .full-width-grid-item .gallery__imageAction {
    position: absolute;
    /* top: -35px; */
    right: 10px;
    top: 10px;
    -webkit-transition: top 0.15s ease-in-out;
    -o-transition: top 0.15s ease-in-out;
    transition: top 0.15s ease-in-out;
  }

  .full-width-grid-item .round_action.download-btn {
    display: inline-block;
  }

}

@media (max-width: 550px) {
  .full-width-grid-item img {
    max-width: 100%;
  }
  .product-add-to-cart-subheading {
    font-size: 13px;
  }
}
