.Gallery-wrapper {
    min-height: 600px;
}
.Gallery-wrapper.disp-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader{
    display:none;
}
.preloader.active{
    display: block;
}
.grid {
    width: 100%;
}
.grid-item,
.grid-sizer {
    width: 19%;/*250px;*/
    max-width: 250px;
    float: left;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}
.gutter-sizer {
    width: 1%;
}
.grid-item--towcolumn {
    width: 40%;
}
.grid-item img {
    width: 100%;
    height: auto;
    image-rendering: auto;
}
.grid-item .gallery__imageAction {
    position: absolute;
    /*top: -35px;*/
    right: 10px;
    top: 10px;
    transition: top 0.15s ease-in-out;
}
/*.grid-item:hover .gallery__imageAction {
    top: 10px;
}*/
.gallery__imageAction .round_action {
    width: 34px;
    height: 34px;
    line-height: 34px;
    border-radius: 100%;
    color: white;
    background-color: rgba(164, 183, 172, 0.65);
    text-align: center;
    float: left;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-left: 10px;
}
.gallery__imageAction .round_action.isFav {
  background-color: rgb(245, 99, 99);
}
.gallery__imageAction .round_action:hover {
    background-color: rgba(164, 183, 172, 1);
}
.gallery__imageAction .round_action.isFav:hover {
  background-color: rgb(241, 88, 88);
}
.gallery__imageAction .round_action.isInAlbum {
    background-color: rgb(245, 99, 99);
  }
  .gallery__imageAction .round_action.isInAlbum:hover {
    background-color: rgb(241, 88, 88);
  }
.no-data-placeholder {
    color: #9eb7b2;
    font-size: 20px;
    font-family: 'AauxBold';
}
@keyframes uil-ellipsis {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        left: 0px;
        opacity: 1;
    }
    12.5% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25% {
        left: 0px;
    }
    37.5% {
        left: 70px;
    }
    50% {
        left: 70px;
    }
    62.5% {
        left: 140px;
    }
    75% {
        left: 140px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    87.5% {
        left: 140px;
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        left: 140px;
        opacity: 0;
    }
}
@-webkit-keyframes uil-ellipsis {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        left: 0px;
        opacity: 1;
    }
    12.5% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25% {
        left: 0px;
    }
    37.5% {
        left: 70px;
    }
    50% {
        left: 70px;
    }
    62.5% {
        left: 140px;
    }
    75% {
        left: 140px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    87.5% {
        left: 140px;
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        left: 140px;
        opacity: 0;
    }
}
.uil-ellipsis-css {
    background: none;
    position: relative;
    width: 200px;
    height: 200px;
}
.uil-ellipsis-css .ib {
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.uil-ellipsis-css .circle {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 70px;
    opacity: 0;
    text-align: center;
    -webkit-animation: uil-ellipsis 1s linear infinite;
    animation: uil-ellipsis 1s linear infinite;
}
.uil-ellipsis-css .circle>div {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 0px;
}
.uil-ellipsis-css .circle:nth-of-type(2n+1)>div {
    background: #403d3d;
}
.uil-ellipsis-css .circle:nth-of-type(2n)>div {
    background: #808a80;
}
.circle:nth-of-type(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.circle:nth-of-type(2) {
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
}
.circle:nth-of-type(3) {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.circle:nth-of-type(4) {
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}

@media screen and (max-width: 1400px) {
  .grid-item,
  .grid-sizer {
    max-width: unset;
    width: 18%;
  }
}

@media screen and (max-width: 1300px) {
  .grid-item,
  .grid-sizer {
    max-width: unset;
    width: 21%;
  }
}
@media screen and (max-width: 1200px) {
  .grid-item,
  .grid-sizer {
    max-width: unset;
    width: 22%;
  }
}

@media screen and (max-width: 1000px) {
    .gallery__imageAction .round_action {
        width: 25px;
        height: 25px;
        line-height: 27px;
    }
    .grid-item,
    .grid-sizer {
      max-width: unset;
      width: 200px;
    }
}
@media screen and (max-width: 992px) {
    .grid-item {
        /* min-width: 250px; */
        text-align: center;
        padding: 5px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 850px) {
    .gallery__imageAction .round_action {
        width: 23px;
        height: 23px;
        line-height: 25px;
    }
}
@media screen and (max-width: 767px) {
    .Gallery-wrapper {
        padding-top: 15px;
    }
    .grid-item {
        width: 100%!important;
        text-align: center;
    }
    .grid-item img {
        max-width: 400px;
    }
    .grid-item .category__title {
      background: transparent;
      z-index: -1;
    }
    .grid-item .gallery__imageAction {
        position: static;
        padding-top: 7px;
        max-width: 400px;
        margin: 0 auto;
        text-align: right;
    }
    .gallery__imageAction .round_action {
        display: inline-block;
        float: none;
    }
    .gallery__imageAction .download-btn {
        display: none;
    }
    .backlayout-overlay {
      display: none!important;
    }
}
