.login-wrapper {
    overflow: hidden;
}
.login-wrapper__page-aligner {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}
.login-title {
    text-align: center;
    color: #a8beba;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 2px;
}
.login-title span {
    border-bottom: 1px solid #a0a0a0;
    display: inline-block;
    padding: 15px 20px 15px 20px;
}
.login-container__form-wrapper {
    margin: 15px;
    background: #f5f5f5;
    padding-bottom: 50px;
    padding-top: 20px;
    height: 800px;
}
.login-input {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #9eb7b2;
    color: #333;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    padding-left: 10px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.continue-as-a-guest {
  text-align: center;
  cursor: pointer;
}
.continue-as-a-guest a {
  text-decoration: none!important;
  color: #222222!important;
}
/* .login-form form {
    padding: 30px 15% 10px 15%;
} */
.input__double {
    display: inline-block;
    width: 48%;
}
.input__double:nth-child(2) {
    float: right;
}
.Select-control {
    border: 1px solid #9eb7b2!important;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #aaa;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #aaa;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: #aaa;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #aaa;
}
.auth-btn {
    color: #fff;
    width: 300px;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    margin: 25px auto;
    cursor: pointer;
    transition: all .2s ease-in-out;
    display: block;
    border: 0;
}
.auth-btn.green {
    background-color: #9eb7b2;
}
.auth-btn.green:hover {
    background-color: #869e9a;
}
.auth-btn.facebook {
    background-color: #3c5a96;
}
.auth-btn.facebook:hover {
    background-color: #344e82;
}
.auth-btn.google {
    background-color: #d34836;
}
.auth-btn.google:hover {
    background-color: #b54132;
}
.or {
    text-align: center;
}
.auth-checkbox-text {
    padding-left: 20px;
}
.auth-checkbox {
    display: none;
}
.auth-checkbox+label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    border: 1px solid #000;
}
.auth-checkbox+label>img {
    display: none;
}
.auth-checkbox:checked+label>img {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    margin-top: -3px;
    margin-left: -5px;
}
.auth-checkbox-container {
    position: absolute;
    margin-top: 2px;
}
.auth-checkbox-group {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}
.login-wrapper__page-aligner {
    margin-bottom: 20px;
}
.forgot-password-link {
    text-align: center;
}
.forgot-password-link a {
    text-decoration: none!important;
    font-family: 'Myriad Pro';
    font-size: 16px;
    color: #a2a2a2!important;
}
.login-form form {
    padding: 30px 20% 10px 20%;
}

@media screen and (max-width: 1700px) {
  .login-title {
      font-size: 32px;
  }
  .login-form form {
    padding: 30px 15% 10px 15%;
  }
}
@media screen and (max-width: 1500px) {
    .login-wrapper__page-aligner {
        width: 80%;
    }
    .login-title {
        font-size: 30px;
    }
    .login-container__form-wrapper {
      height: 760px;
    }
    .auth-btn {
      margin: 20px auto;
      font-size: 13px;
    }
}
@media screen and (max-width: 1300px) {
    .login-title {
        font-size: 25px;
    }
    .auth-btn {
        width: 240px;
    }
}
@media screen and (max-width: 1250px) and (min-width: 992px) {
  .login-form form {
    padding: 20px 10% 10px 10%;
  }
  .login-container__form-wrapper {
    height: 680px;
  }
  .auth-btn {
    margin: 15px auto;
    font-size: 12px;
  }
}
@media screen and (max-width: 991px) {
    .login-container__form-wrapper {
        height: unset;
    }
}
@media screen and (max-width: 600px) {
    .login-wrapper__page-aligner {
        width: 95%;
    }
    .auth-btn {
        width: 225px;
    }
    .login-title {
        font-size: 20px;
    }
    .login-input {
        font-size: 12px;
    }
    .Select-control {
        font-size: 12px;
    }
    .input__double {
        display: block;
        width: 100%;
    }
}

/* Temp Classes*/

.message {
    background-color: #9eb7b2;
    position: fixed;
    left: -800px;
    top: 17%;
    z-index: 9999;
    border-radius: 3px;
    font-family: "AauxBold";
    font-weight: 400;
    font-size: 14.57px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    line-height: 1;
    padding: 6px 10px;
    transition: all 0.3s ease-in-out;
}
.message.active {
    left: 10px;
}
.message.error {
    background-color: lightcoral;
}
