.login-popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100000;
  font-family: 'AauxBold';
}
.login-popup-scroller {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}
.login-popup-scroller .login-container__form-wrapper {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(120,120,120,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(120,120,120,1);
  box-shadow: 0px 0px 5px 0px rgba(120,120,120,1);
}

@media (max-height: 600px) {
  .login-popup-scroller {
    -webkit-box-align: start;
    -ms-flex-align: start;
        align-items: flex-start;
  }
}

.login-popup-wrapper .login-container {
  min-width: 500px;
}
.login-popup-wrapper .login-container__form-wrapper {
  height: 600px;
}

.login-popup-wrapper .login-wrapper__page-aligner {
  margin: unset;
}
.create-acc {
  display: block;
  cursor: pointer;
}

@media (max-width: 600px) {
  .login-popup-wrapper .login-container {
      min-width: 390px;
  }
}
@media (max-width: 400px) {
  .login-popup-wrapper .login-container {
      min-width: 310px;
  }
}
