.cart-wrapper {
  position: fixed;
  top: 0;
  z-index: 9999999;
  background: #fff;
  right: 0;
  width: 0;
  height: 100%;
  transition: all ease-out .3s;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(120,120,120,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(120,120,120,1);
  box-shadow: 0px 0px 5px 0px rgba(120,120,120,1);
  font-family: 'AauxBold';
}
.cart-wrapper.open {
  width: 350px;
}
.cart-item.cart-item-package {
  height: 60px;
  padding-top: 10px;
}
.cart-item.cart-item-package hr {
  display: block!important;
  top: -20px;
  margin-bottom: 0;
}
.cart-item-package .cart-item-info {
  height: 40px;
}
.close-cart {
  position: absolute;
  top: 0;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  cursor: pointer;
  right: 15px;
  top: 10px;
  background-image: url('/images/gray-cross.png')
}
.cart-content {
  width: 350px;
  position: relative;
  height: 100%;
}
.cart-bottom {
  position: absolute;
  bottom: 0;
  height: 170px;
  width: 100%;
  padding-top: 5px;
  text-align: center;
  background: #9eb8b2;
}
.cart-top {
  position: absolute;
  top: 0;
}
.cart-scroller {
  position: relative;
  padding-top: 150px;
  color: #a0a0a0;
}
.cart-title {
  text-align: center;
  width: 350px;
  margin-top: 100px;
  color: #9eb8b2;
  font-size: 18px;
}
.cart-item {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.cart-item-image {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.cart-item-image>div {
  width: 55px;
  height: 70px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.cart-item-info {
  width: 75%;
  height: 70px;
  position: relative;
}
.cart-item-info-left {
  position: absolute;
  left: 0;
  height: 100%;
  font-size: 13px;
}
.cart-item-info-right {
  position: absolute;
  right: 20px;
  font-size: 13px;
}
.cart-item-faves {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  font-size: 12px;
}
.cart-item-faves span {
  font-size: 11px;
}
.cart-item-size {
  font-size: 11px;
}
.cart-item hr {
  position: absolute;
  border-top: 1px solid #a0a0a0;
  bottom: -20px;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
}
.promo-code-input-group {
  position: relative;
  margin: 20px;
  width: 310px;
}
.promo-code-input-group .promo-button {
  height: 32px;
}
.promo-code-input-group .react-tagsinput {
  background: #9eb8b2;
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 5px 10px;
  width: 70%;
  display: inline-block;
  height: 32px;
  padding: 0;
  white-space: nowrap;
  position: absolute;
  left: 0;
  text-align: left;
  padding-left: 10px;
  line-height: 20px;
}
.promo-input {
  background: #9eb8b2;
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 5px 10px;
  width: 70%;
}
.promo-button {
  color: #9eb8b2;
  position: absolute;
  right: 0;
  background: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: none;
  background: #fff;
  padding: 5px 10px;
  border: 1px solid #fff;
  width: 30%;
}
.cart-item-full-width-sm {
  width: 90%!important;
}
.cart-sidebar .subtotal-wrapper {
  margin-top: 75px;
}
.subtotal-aligner {
  display: flex;
  padding: 0 20px;
  color: #fff;
  font-weight: 600;
  justify-content: space-between;
}
.checkout-wrapper {
  padding: 20px;
  width: 100%;
}
.checkout-btn {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #fff;
  background: #9eb8b2;
  color: #fff;
  padding: 5px;
}

.cart-scroller .cart-item:not(.cart-item-package):last-child hr {
  display: none;
}
.cart-item-faves .fa-heart {
  color: #f44235;
}
.cart-item-price .fa {
  cursor: pointer;
}
.promo-taginput::placeholder {
  color: #fff;
}
.promo-taginput::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.promo-taginput:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.promo-taginput:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.react-tagsinput-input.promo-taginput {
  width: 100px;
  color: #fff!important;
}
.react-tagsinput-tag {
  background-color: #ebf5ff!important;
  border: 1px solid rgba(0, 126, 255, 0.24)!important;
  color: #007eff!important;
  padding: 0 5px!important;
  height: 20px!important;
}

@media (max-width: 350px) {
  .cart-wrapper.open,
  .cart-content,
  .cart-title {
    width: 320px;
  }


}
