.header-wrapper {
    height: 125px;
    position: relative;
}
.header-wrapper.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2000;
}
.header-innerWrapper {
    z-index: 5000;
    position: relative;
    height: inherit;
    background-color: #9eb7b2;
}
input#search_input:required {
    box-shadow:none;
}
.search__mobile{
    position: absolute;
    z-index: 0;
    top: 0;
    transition: .3s;
}
.search__mobile-open{
    top: 69px;
}

.search-categories {
  position: absolute;
  top: 0;
  right: 70px;
  width: 120px;
  height: 40px;
}
.search-categories .Select.is-focused .Select-control,
.search-categories .Select.is-pseudo-focused .Select-control {
  border-color: transparent!important;
  box-shadow: none!important;
}
.search-categories .Select-input,
.search-categories .Select-placeholder,
.search-categories .Select-value,
.search-categories .Select-value-label {
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  font-family: 'AauxRegular';
}

.search-categories .Select-value-label{
    display: inline-block;
    width: 70px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;    
}

.search-categories .Select-menu-outer {
  font-size: 12px;
  font-family: 'AauxRegular';
}
.search-categories .Select-control {
  border: none!important;
  font-family: 'AauxRegular';
}
.header-wrapper .logo {
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    margin-top: -27px;
    z-index: 6000;
}
.header-user-section {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-wrapper .logo .logo__container-bgimage {
    width: 196px;
    height: 39px;
    background-image: url('../../../../assets/images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: -webkit-optimize-contrast;
}
.header-user-section .logsignin {
  height: 100%;
  padding-top: 27px;
  /* display: flex;
  align-items: center;
  justify-content: flex-end; */
}
.header-wrapper .logo .logo__container-dashboard-image {
    width: 90px;
    height: 80px;
    background-image: url('../../../../assets/images/dashboard-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.header-wrapper .search {
    margin-top: 27px;
}
.header-user-section {
  min-width: 30%;
  position: absolute;
  right: 0;
  top: 0;
}
.header-wrapper .search .search__formField {
    width: 518px;
    margin: 0 auto;
    position: relative;
}
.header-wrapper .search .search__formField .search__field-input {
    height: 40px;
    width: 100%;
    background-color: #ecf0ef;
    border: 0;
    border-radius: 6px;
    padding: 0px 70px 0px 27px;
    line-height: 40px;
    font-family: 'AauxRegular';
    font-weight: 400;
    font-size: 13px;
    color: #a0a0a0;
}
.header-wrapper .search .search__formField .search__field-input::-webkit-input-placeholder {
    color: #a0a0a0;
    transition: all 0.2s ease-in-out
}
.header-wrapper .search .search__formField .search__field-input::-moz-placeholder {
    color: #a0a0a0;
    transition: all 0.2s ease-in-out
}

/* Firefox 19+ */

.header-wrapper .search .search__formField .search__field-input:-moz-placeholder {
    color: #a0a0a0;
    transition: all 0.2s ease-in-out
}

/* Firefox 18- */

.header-wrapper .search .search__formField .search__field-input:-ms-input-placeholder {
    color: #a0a0a0;
    transition: all 0.2s ease-in-out
}
.header-wrapper .search .search__formField .search__field-input:focus::-webkit-input-placeholder {
    color: transparent;
}
.header-wrapper .search .search__formField .search__field-input:focus::-moz-placeholder {
    color: transparent;
}

/* Firefox 19+ */

.header-wrapper .search .search__formField .search__field-input:focus:-moz-placeholder {
    color: transparent;
}

/* Firefox 18- */

.header-wrapper .search .search__formField .search__field-input:focus:-ms-input-placeholder {
    color: transparent;
}
.header-wrapper .search .search__formField .search__field-input:hover,
.header-wrapper .search .search__formField .search__field-input:focus,
.header-wrapper .search .search__formField .search__field-input:active {
    outline: none;
}
.header-wrapper .search .search__formField .search__submit-btn {
    width: 70px;
    height: 40px;
    text-align: center;
    border: 0;
    border-radius: 0 6px 6px 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    font-size: 14px;
    color: #a0a0a0;
}
.header-wrapper .search .search__formField .search__submit-btn:hover,
.header-wrapper .search .search__formField .search__submit-btn:focus,
.header-wrapper .search .search__formField .search__submit-btn:active {
    outline: none;
}
.header-wrapper .search .search__formField .search__field-multiinput{
    padding: 2px 27px 2px 17px;
    background-color: #ecf0ef;
    border-radius: 6px;
}
.search__formField.is-suggested .search__field-input{
    border-radius:6px 6px 0 0 !important;

}
.search__formField.is-suggested .search__submit-btn{
    border-radius:0 6px 0 0 !important;

}
.search_suggestion-container{
    width: 100%;
    position: absolute;
    z-index: 999;
    background-color: #ecf0ef;
    border: 0;
    border-radius: 0 0 6px 6px;
    overflow: hidden
}
.search_suggestion-item{
    padding: 10px 27px;
    font-family: 'AauxRegular';
    font-weight: 400;
    font-size: 13px;
    color: #a0a0a0;
    cursor: pointer;
}
.search_suggestion-item:hover,
.search_suggestion-item.pseudoFocus{
    background-color: #d3d3d3
}
.header-wrapper .search .search__formField .search__field-multiinput .Select-control{
    border:0!important;
    background-color:transparent;
}
.header-wrapper .search .search__formField .search__field-multiinput.Select.is-focused:not(.is-open) > .Select-control{
    box-shadow: none!important;
}
.header-wrapper .search .search__formField .search__field-multiinput .Select-value {
    background-color: transparent!important;
    border-radius: 0!important;
    border: 0!important;
    color: inherit!important;
    font-size: 1em!important;
    margin-left: 3px!important;
}
.header-wrapper .search .search__formField .search__field-multiinput .Select-value .Select-value-icon{
    display: none;
}
.header-wrapper .navigation {
    margin-top: 21px;
}
.header-wrapper .navigation .navigation__list {
    margin: 0 auto;
    padding: 0;
    width: 518px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-wrapper .navigation .navigation__list .navigation__listItem {
    list-style: none;
}
.header-wrapper .navigation .navigation__list .navigation__listItem .navigation__link {
    font-family: "AauxBold";
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: white;
    line-height: 1;
    padding: 6px 3px;
    border-bottom: 1px solid transparent;
    cursor:pointer;
}
.header-wrapper .navigation .navigation__list .navigation__listItem .navigation__link.active {
    border-bottom: 1px solid white;
}
.header-wrapper .navigation .navigation__list .navigation__listItem .navigation__link:hover,
.header-wrapper .navigation .navigation__list .navigation__listItem .navigation__link:focus,
.header-wrapper .navigation .navigation__list .navigation__listItem .navigation__link:active {
    outline: none;
    text-decoration: none;
}
/* .header-wrapper .logsignin {
    margin-top: 27px;
} */
.logsigin__shopCart-link {
    /*TEMP!!!*/
    width: 40px;
    height: 40px;
    display: block;
    background-image: url('../../../../assets/images/cart.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* float: right; */
}
.header-wrapper .logsignin .logsigin__signin-link {
    height: 40px;
    width: 85px;
    line-height: 37px;
    text-align: center;
    transition: all .2s ease-out;
    margin-left: 20px;
    border-radius: 6px;
    font-family: "AauxBold";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.11em;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.6);
    /* float: right; */
}
.header-wrapper .logsignin .logsigin__signin-link.active,
.header-wrapper .logsignin .logsigin__login-link.active  {
    color: #9eb7b2;
    background-color: white;
}
.header-wrapper .logsignin .logsigin__login-link {
    height: 40px;
    width: 120px;
    line-height: 37px;
    text-align: center;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    font-family: "AauxBold";
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.11em;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    display: block;
    /* float: right; */
}
/*.header-wrapper .logsignin .logsigin__login-link.active {
    color: #9eb7b2;
    background-color: white;
}*/
.header-wrapper .logsignin a:hover,
.header-wrapper .logsignin a:focus,
.header-wrapper .logsignin a:active {
    outline: none;
    text-decoration: none;
}
.header-wrapper .mobile {
    display: none;
}
.header-wrapper .desktop {
    display: block
}

.backlayout-overlay {
    position: fixed;
    width:100%;
    height:100%;
    z-index: 2000;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    margin-top: 125px;
    opacity: 0;
    visibility: hidden;
}

.tab-open.backlayout-overlay {
    opacity: 1;
    visibility: visible;
}
.downloads-open {
  padding-bottom: 70px;
}
.download-info-aligner,
.collections-aligner,
.sessions-aligner,
.categories-aligner {
	transition: all .6s ease-out;
  transition: height .5s ease-out;
  position: relative;
}

.cart-link {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 40px;
  z-index: 1000;
  cursor: pointer;
}
.loggedin-cart-aligner {
  height: 100%;
  width: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 15px;
  margin-left: 15px;
  z-index: 6000;

}
.loggedin {
  height: inherit;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.loggedin-cart-aligner .cartLength {
  bottom: unset;
  margin-top: 40px;
}
.cart-link-unlogged {
  top: 0;
  position: relative;
}
.pricing-link {
  margin-right: 65px;
}
.cartLength {
  color: #fff;
  width: 100%;
  text-align: center;
  padding-left: 3px;
  margin-top: 40px;
}
.cart-placeholder {
  width:60px;
}
.header-user-section .logsignin {
  display: flex;
  justify-content: space-around;
}

/* ----------------- Adaptive -------------------- */

@media (max-width: 992px) {
  .search-categories .Select-input,
  .search-categories .Select-placeholder,
  .search-categories .Select-value,
  .search-categories .Select-value-label {
    height: 35px;
    font-size: 12px;
    line-height: 35px;
  }
  .search-categories .Select-control {
    height: 35px;
  }
}

@media (min-width:1201px) and (max-width:1300px) {

    .logsigin__shopCart-link {
        /*TEMP!!!*/
        width: 40px;
        margin-left: 10px;
        display: block;
        /* float: right; */
    }
    .header-wrapper .logsignin .logsigin__signin-link {
        width: 80px;
        margin-left: 10px;
        font-size: 13px;
    }
    .header-wrapper .logsignin .logsigin__login-link {
        width: 120px;
        font-size: 13px;
    }
}
@media (max-width: 1200px) {
  .header-wrapper .logo .logo__container-bgimage {
    width: 165px;
  }
}

@media (min-width:993px) and (max-width:1200px) {
    .header-wrapper .search .search__formField {
        width: 380px;
    }
    .header-wrapper .navigation .navigation__list {
        width: 380px;
    }
    .header-wrapper .navigation .navigation__list .navigation__listItem {
        list-style: none;
    }
    .header-wrapper .navigation .navigation__list .navigation__listItem .navigation__link {
        font-size: 12.57px;
    }
    .logsigin__shopCart-link {
        /*TEMP!!!*/
        width: 40px;
        margin-left: 5px;
        display: block;
        /* float: right; */
    }
    .header-wrapper .logsignin .logsigin__signin-link {
        width: 60px;
        margin-left: 5px;
        font-size: 10px;
    }
    .header-wrapper .logsignin .logsigin__login-link {
        width: 100px;
        font-size: 10px;
    }
}
@media (min-width:768px) and (max-width:992px) {
    .header-wrapper {
        height: 100px;
    }
    .header-wrapper .logo {
        height: 100px;
    }
    .header-wrapper .logo .logo__container-bgimage {
        width: 150px;
        height: 30px;
    }
    .header-wrapper .search {
        margin-top: 20px;
    }
    .header-wrapper .search .search__formField {
        width: 350px;
    }
    .header-wrapper .search .search__formField .search__field-input {
        height: 35px;
    }
    .header-wrapper .search .search__formField .search__submit-btn {
        height: 35px;
    }
    .header-wrapper .navigation {
        margin-top: 10px;
    }
    .header-wrapper .navigation .navigation__list {
        width: 350px;
    }
    .header-wrapper .navigation .navigation__list .navigation__listItem .navigation__link {
        font-size: 11px;
        letter-spacing: 0.1em;
    }
    .header-wrapper .logsignin {
        margin-top: 20px;
    }

    .header-wrapper .logsignin .logsigin__signin-link {
        height: 35px;
        width: 50px;
        line-height: 35px;
        margin-left: 3px;
        font-size: 10px;
        letter-spacing: 0.05em;
    }
    .header-wrapper .logsignin .logsigin__login-link {
        height: 35px;
        width: 80px;
        line-height: 35px;
        font-size: 10px;
        letter-spacing: 0.05em;
    }
    .backlayout-overlay {
        margin-top: 100px;
    }
}
@media (max-width:767px) {
    .header-wrapper .mobile {
        display: block;
    }
    .download-info-aligner {
      display: none;
    }
    .header-wrapper .logo {
      margin-top: 0;
    }
    .col-xs-6.action {
      float: right;
    }
    .header-wrapper .desktop {
        display: none;
    }
    .header-wrapper {
        height: 70px;
    }
    .header-wrapper .logo {
        height: 70px;
    }
    .header-wrapper .logo .logo__container-bgimage {
        width: 130px;
        height: 26px;
    }
    .header-wrapper .action {
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header-wrapper .action .action__search {
        display: block;
        font-size: 24px;
        color: white;
    }
    .header-wrapper .action .action__logsigin {
        display: block;
        font-size: 24px;
        color: white;
        margin-left: 15px;
    }
    .header-wrapper .action .action__togglemenu {
        margin-left: 15px;
        width: 20px;
    }
    .header-wrapper .action .action__togglemenu .action__openMenu {
        border: 0;
        background-color: transparent;
        font-size: 24px;
        color: white;
        padding: 0px;
    }
    .header-wrapper .action .action__togglemenu .action__closeMenu {
        border: 0;
        background-color: transparent;
        font-size: 24px;
        color: white;
        padding: 0px;
    }
    .downloads-open {
      padding-bottom: 0;
    }
    .header-wrapper .action a:hover,
    .header-wrapper .action a:focus,
    .header-wrapper .action a:active,
    .header-wrapper .action__togglemenu button:hover,
    .header-wrapper .action__togglemenu button:focus,
    .header-wrapper .action__togglemenu button:active {
        outline: none!important;
        text-decoration: none!important;
    }
    .header-wrapper .navigation {
        margin-top: 0px;
        background-color: white;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.6);
        position: absolute;
        width: 100%;
        z-index: 45;
        display: none;
    }
    .header-wrapper .config--shadowoverlay {
        background-color: #9eb7b2;
        position: relative;
        z-index: 1;
    }
    .header-wrapper .navigation .navigation__list {
        margin: 0 auto;
        padding: initial;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .header-wrapper .navigation .navigation__list .navigation__listItem {
        list-style: none;
        display: inline-block;
    }
    .header-wrapper .navigation .navigation__list .navigation__listItem .navigation__link {
        font-family: "AauxBold";
        font-weight: 400;
        font-size: 14.57px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #a0a0a0;
        line-height: 1;
        display: block;
        padding: 16px 3px;
    }
    .header-wrapper .navigation .navigation__list .navigation__listItem .navigation__link.active {
        border-bottom: none;
    }

    .search__mobile{
        padding: 15px;
        width: 100%;
        margin: 0;
        left: 0;
        background-color: #9eb7b2;
    }
    .search__mobile .search{
        margin: 0;
    }

    .search__mobile .search .search__formField{
        width: 100%;
    }
    .search__mobile .search .search__formField .search__field-input,
    .search__mobile .search .search__formField .search__submit-btn {
        height: 35px;
    }
}

@media (max-width:480px) {
    .search__mobile .search .search__formField .search__submit-btn{
        width: 35px;
    }
    .search-categories{
        right: 35px;
    }
}

@media (max-width: 1300px) {
  /* .user-dropdown {
    margin-right: 70px;
  } */
  /* .pricing-link {
    margin-right: 45px;
  } */
  .cart-link {
    right: 32px;
    top: 36px;
  }
 .cart-link-unlogged {
    top: 0; 
    /* width: 30px;
    height: 30px; */
  } 
  .cartLength {
    padding-left: 7px;
  }
  .loggedin-cart-aligner {
    margin-left: 0;
  }
}
@media (max-width: 992px) {
  .cart-link {
    top: 26px;
    right: 26px;
    width: 35px;
  }
  .loggedin-cart-aligner{
      margin-right: 5px;
  }
  .cart-link-unlogged {
    top: -3px;
    right: 20px;
  }
  .pricing-link{
      margin-right: 30px;
  }
  .userpic-container {
    width: 35px!important;
    min-width: 35px!important;
    height: 35px!important;
  }
  .userpic {
    width: 35px!important;
    height: 35px!important;
  }
  /* .user-dropdown {
    margin-right: 50px;
  } */
  .cartLength {
    color: #fff;
    position: absolute;
    bottom: -15px;
    width: 100%;
    text-align: center;
    padding-left: 5px;
    font-size: 11px;
  }
}

@media (max-width: 800px) {
  .logsigin__login-link {
    float: none!important;
    white-space: nowrap;
  }
}
