/* .swiper-slide {
  padding: 0 15px;
} */
.swiper-slide .swiper-img {
  min-height: 160px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.arrow-prev img,
.arrow-next img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.arrow-prev {
  position: absolute;
  margin-top: -100px;
  z-index: 100;
  left: 20px;
}
.arrow-next {
  position: absolute;
  margin-top: -100px;
  z-index: 100;
  right: 20px;
}
/* .swiper-slide {
  transition: all .2s ease-out;
} */

@media (max-width: 500px) {
  .swiper-slide {
    padding: 0;
  }
}
