.footer-body {
    padding: 40px 0;
    background-color: #9eb7b2;
    margin-top: 25px;
}
footer {
    position: relative;
    z-index: 101;
}
footer .logo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
footer .logo .logo__container-bgimage {
    margin-bottom: 25px;
    width: 196px;
    height: 39px;
    background-image: url('../../../../assets/images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
footer .newletter-sign .newletter-sign__title-txt {
    font-family: "AauxBold";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
}
.newsletter .newsletter__inputgroup {
    width: 215px;
    position: relative;
}
.newsletter .newsletter__input {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-family: "AauxRegular";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.06em;
    background-color: transparent;
    color: white!important;
    border: 2px solid rgba(255, 255, 255, 0.65);
    border-radius: 3px;
}
.newsletter .newsletter__input::-webkit-input-placeholder {
    color: white;
    transition: all 0.2s ease-in-out
}
.newsletter .newsletter__input::-moz-placeholder {
    color: white;
    transition: all 0.2s ease-in-out
}
.footer-flex-aligner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0 8%;
  margin: 0!important;
}
/* Firefox 19+ */

.newsletter .newsletter__input:-moz-placeholder {
    color: white;
    transition: all 0.2s ease-in-out
}

/* Firefox 18- */

.newsletter .newsletter__input:-ms-input-placeholder {
    color: white;
    transition: all 0.2s ease-in-out
}
.newsletter .newsletter__input:focus::-webkit-input-placeholder {
    color: transparent;
}
.newsletter .newsletter__input:focus::-moz-placeholder {
    color: transparent;
}

/* Firefox 19+ */

.newsletter .newsletter__input:focus:-moz-placeholder {
    color: transparent;
}

/* Firefox 18- */

.newsletter .newsletter__input:focus:-ms-input-placeholder {
    color: transparent;
}
.newsletter .newsletter__submit {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
.newsletter .newsletter__submit:after {
    content: "\F105";
    color: white;
    position: absolute;
    z-index: 3;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
}
.newsletter .newsletter__submit:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background-color: #9eb7b2;
    z-index: 2;
}
.social__item a>i {
  color: #9eb7b2!important;
}
.newsletter .newsletter__input:hover,
.newsletter .newsletter__input:focus,
.newsletter .newsletter__input:active,
.newsletter .newsletter__submit:hover,
.newsletter .newsletter__submit:focus,
.newsletter .newsletter__submit:active {
    outline: none;
    text-decoration: none;
}
footer .footerMenu__title {
    font-family: "AauxBold";
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white;
    line-height: 1;
    margin: 10px 0 50px;
}
footer .footerMenu__menu {
    padding: 0;
    margin: 0;
}
footer .footerMenu__menu .footerMenu__menuItem {
    list-style: none;
    margin-bottom: 5px;
}
footer .footerMenu__menu .footerMenu__menuItem:last-of-type {
    margin-bottom: 0;
}
footer .footerMenu__menu .footerMenu__menuItem a {
    font-family: "AauxBold";
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    line-height: 1;
}
footer .footerMenu__menu .footerMenu__menuItem a:hover,
footer .footerMenu__menu .footerMenu__menuItem a:active,
footer .footerMenu__menu .footerMenu__menuItem a:focus {
    text-decoration: none;
}
footer .social .social__item {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    background-color: white;
    color: #9eb7b2;
    font-size: 24px;
    margin-right: 10px;
}
footer .social .social__item:last-of-type {
    margin-right: 0px;
}
footer .copyright {
    background-color: #a0a0a0;
    padding: 15px 0;
}
footer .copyright p {
    width: 100%;
    margin: 0;
    text-align: center;
    color: white;
    line-height: 1;
    font-family: "AauxBold";
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

/* ----------------- Adaptive -------------------- */

@media (max-width: 1500px) {
  .footer-learnmore {
    max-width: 14%;
  }
}

@media (min-width:1201px) and (max-width:1350px) {
    footer .logo .logo__container-bgimage {
        margin-bottom: 20px;
        width: 150px;
        height: 30px;
    }
    footer .newletter-sign .newletter-sign__title-txt {
        font-size: 14px;
    }
    .newsletter .newsletter__inputgroup {
        width: 160px;
    }
    .newsletter .newsletter__input {
        height: 35px;
        line-height: 35px;
        padding: 0 8px;
        font-size: 14px;
    }
    .newsletter .newsletter__submit {
        height: 35px;
        width: 35px;
        line-height: 35px;
    }
    .newsletter .newsletter__submit:after {
        font-size: 14px;
    }
    .newsletter .newsletter__submit:before {
        width: 18px;
        height: 18px;
    }
    footer .footerMenu__title {
        font-size: 14px;
        margin: 10px 0 40px;
    }
    footer .footerMenu__menu .footerMenu__menuItem a {
        font-size: 12px;
    }
    footer .social .social__item {
        display: inline-block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 100%;
        background-color: white;
        color: #9eb7b2;
        font-size: 20px;
        margin-right: 8px;
    }
    footer .copyright {
        padding: 12px 0;
    }
}
@media (min-width:993px) and (max-width:1200px) {
    .footer-body {
        padding: 30px 0;
    }
    footer .logo .logo__container-bgimage {
        margin-bottom: 15px;
        width: 130px;
        height: 26px;
    }
    footer .newletter-sign .newletter-sign__title-txt {
        font-size: 12px;
        margin-bottom: 7px;
    }
    .newsletter .newsletter__inputgroup {
        width: 130px;
    }
    .newsletter .newsletter__input {
        height: 30px;
        line-height: 30px;
        padding: 0 6px;
        font-size: 12px;
        letter-spacing: 0.03em;
    }
    .newsletter .newsletter__submit {
        height: 30px;
        width: 30px;
        line-height: 30px;
    }
    .newsletter .newsletter__submit:after {
        font-size: 12px;
    }
    .newsletter .newsletter__submit:before {
        width: 15px;
        height: 15px;
    }
    footer .footerMenu__title {
        font-size: 12.2px;
        letter-spacing: 0.03em;
        margin: 6px 0 30px;
    }
    footer .footerMenu__menu .footerMenu__menuItem {
        margin-bottom: 2px;
    }
    footer .footerMenu__menu .footerMenu__menuItem a {
        font-size: 11px;
        letter-spacing: 0.1em;
    }
    footer .social .social__item {
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 17px;
        margin-right: 6px;
    }
    footer .copyright {
        padding: 7px 0;
    }
    footer .copyright p {
        font-size: 12px;
    }
}
@media (min-width:768px) and (max-width:992px) {
    .footer-body {
        padding: 25px 0;
    }
    footer .logo .logo__container-bgimage {
        width: 90px;
        height: 18px;
        margin-bottom: 10px;
    }
    footer .newletter-sign .newletter-sign__title-txt {
        font-size: 9px;
        letter-spacing: 0.03em;
        margin-bottom: 5px;
    }
    .newsletter .newsletter__inputgroup {
        width: 90px;
    }
    .newsletter .newsletter__input {
        height: 25px;
        line-height: 25px;
        padding: 0 5px;
        font-size: 10px;
        letter-spacing: 0.03em;
    }
    .newsletter .newsletter__submit {
        height: 25px;
        width: 25px;
        line-height: 25px;
    }
    .newsletter .newsletter__submit:after {
        font-size: 9px;
    }
    .newsletter .newsletter__submit:before {
        width: 12px;
        height: 12px;
    }
    footer .footerMenu__title {
        font-size: 9px;
        letter-spacing: 0.00em;
        margin: 5px 0 20px;
    }
    footer .footerMenu__menu .footerMenu__menuItem {
        margin-bottom: 2px;
    }
    footer .footerMenu__menu .footerMenu__menuItem a {
        font-size: 9px;
    }
    footer .social .social__item {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        margin-right: 2px;
    }
    footer .copyright {
        padding: 5px 0;
    }
    footer .copyright p {
        font-size: 10px;
    }
}
@media (max-width:767px) {
    .footer-body {
        padding: 20px 0;
    }
    .footer-flex-aligner {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0!important;
    }
    .footer-learnmore {
      max-width: unset;
    }
    footer .logo {
        align-items: center;
    }
    footer .logo .logo__container-bgimage {
        margin-bottom: 20px;
    }
    footer .newletter-sign .newletter-sign__title-txt {

        text-align: center;
    }
    .newsletter .newsletter__inputgroup {
        width: 270px;
        margin-bottom: 15px;
    }

    footer .footerMenu__title {
        margin: 10px 0 15px;
        text-align: center;
    }
    footer .footerMenu__menu {
        margin-bottom:20px;
    }
    footer .footerMenu__menu .footerMenu__menuItem {
        text-align: center;
    }
    footer .social{text-align: center; }
    footer .social .social__item {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 100%;
        background-color: white;
        color: #9eb7b2;
        font-size: 24px;
        margin-right: 10px;
    }
    footer .social .social__item:last-of-type {
        margin-right: 0px;
    }
    footer .copyright {
        background-color: #a0a0a0;
        padding: 15px 0;
    }
    footer .copyright p {
        width: 100%;
        margin: 0;
        text-align: center;
        color: white;
        line-height: 1;
        font-family: "AauxBold";
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }
}
