body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: sans-serif;
}
#root {
  width: 100%;
  height: unset;
}
@font-face{
  font-family: "AauxBold";
  src:url('assets/fonts/AauxBold.ttf');
}
@font-face{
  font-family: "AauxLight";
  src:url('assets/fonts/AauxLight.ttf');
}

@font-face{
  font-family: "AauxMedium";
  src:url('assets/fonts/AauxMedium.ttf');
}

@font-face{
  font-family: "AauxRegular";
  src:url('assets/fonts/AauxRegular.ttf');
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('assets/fonts/MyriadPro-Regular.otf');
}

@media (max-width: 767px) {
  img {
    image-rendering: crisp-edges; 
  }
}
.screen-reader{
  font-size: 0;
}

.message {
  background-color: #9eb7b2;
  position: fixed;
  left: -800px;
  top: 17%;
  z-index: 9999;
  border-radius: 3px;
  font-family: "AauxBold";
  font-weight: 400;
  font-size: 14.57px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  line-height: 1;
  padding: 6px 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.message.active {
  left: 10px;
}
/*  */
.forgot-password-background {
  background: #f5f5f5;
  width: 80%;
  height: 500px;
  margin: 30px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.forgot-password-title {
  text-align: center;
  color: #a8beba;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 2px;
}

.forgot-password-title span {
  border-bottom: 1px solid #9eb8b2;
  display: inline-block;
  padding: 50px 20px 5px 20px;
}